services:
  db:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: madeinportugal
    volumes:
      - mips_db:/var/lib/postgresql
      # - ./app/db:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    restart: always

  # app:
  #   image: node:25
  #   working_dir: /madeinportugal-store/app
  #   volumes:
  #     - ./app:/madeinportugal-store/app
  #   command: sh -c "npm install && npm run start"
  #   environment:
  #     - DB_HOST=db
  #     - DB_PORT=5432
  #     - DB_USER=postgres
  #     - DB_PASSWORD=1234
  #     - DB_NAME=madeinportugal
  #   depends_on:
  #     - db
  #   ports:
  #     - "3000:3000"
  #   restart: unless-stopped

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=1234
      - DB_NAME=madeinportugal
      - NODE_ENV=production
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - app
    restart: always

  # nginx:
  #   image: nginx:alpine
  #   ports:
  #     - "81:81"
  #   volumes:
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
  #     - ./app/public:/usr/share/nginx/html:ro
  #   depends_on:
  #     - app

volumes:
  mips_db:

networks:
  default:
    driver: bridge
